<!DOCTYPE html>
<html>
<head>
    <title>All your entries</title>
</head>
<body>

<h1>All your entries:</h1>

<table>
    <thead>
        <tr>
            <th>Entry</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        {%- for entry in entries %}
            <td>#</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.unit_price }}</td>
            <td>{{ entry.quantity }}</td>
            <td>{{ entry.quantity * entry.unit_price }}</td>
        {%- endfor %}
        </tr>
    </tbody>
</table>
</body>
</html>